flow1
[{"id":"d980bb97.622a08","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"f0710146.ad823","type":"http in","z":"d980bb97.622a08","name":"","url":"/pin11","method":"get","upload":false,"swaggerDoc":"","x":300,"y":240,"wires":[["fed54590.daef28"]]},{"id":"5a41aabd.7dea84","type":"rpi-gpio in","z":"d980bb97.622a08","name":"GPIO17","pin":"11","intype":"up","debounce":"25","read":false,"x":390,"y":540,"wires":[["efd87df8.2969e"]]},{"id":"efd87df8.2969e","type":"function","z":"d980bb97.622a08","name":"Set GPIO","func":"global.set(\"GPIO\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":440,"wires":[["53018e99.99117"]]},{"id":"fed54590.daef28","type":"function","z":"d980bb97.622a08","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":240,"wires":[["53018e99.99117","ff44f.daea3bb1"]]},{"id":"53018e99.99117","type":"debug","z":"d980bb97.622a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":440,"wires":[]},{"id":"ff44f.daea3bb1","type":"http response","z":"d980bb97.622a08","name":"","statusCode":"","headers":{},"x":810,"y":240,"wires":[]}]
