flow2
[{"id":"993c332b.98c32","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"a17ea43f.cb5268","type":"http in","z":"993c332b.98c32","name":"Set GPIO4","url":"/setgpio4","method":"get","upload":false,"swaggerDoc":"","x":200,"y":300,"wires":[["b35b276.ceaaad8","f8b811b3.aa035"]]},{"id":"b35b276.ceaaad8","type":"function","z":"993c332b.98c32","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":300,"wires":[["2cf31fec.3835e"]]},{"id":"2cf31fec.3835e","type":"rpi-gpio out","z":"993c332b.98c32","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":590,"y":440,"wires":[]},{"id":"f8b811b3.aa035","type":"function","z":"993c332b.98c32","name":"Return Status","func":"msg.payload = (\"GPIO4 Set to HIGH\");\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["cfe90697.bda848","434d3e26.735f2"]]},{"id":"cfe90697.bda848","type":"http response","z":"993c332b.98c32","name":"","statusCode":"","headers":{},"x":730,"y":440,"wires":[]},{"id":"434d3e26.735f2","type":"debug","z":"993c332b.98c32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":440,"wires":[]},{"id":"1320192c.3b30e7","type":"http in","z":"993c332b.98c32","name":"Clear GPIO4","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":190,"y":560,"wires":[["f66481c9.4262b","f9ce6e39.1b3a1"]]},{"id":"f66481c9.4262b","type":"function","z":"993c332b.98c32","name":"Set to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":560,"wires":[["2cf31fec.3835e"]]},{"id":"f9ce6e39.1b3a1","type":"function","z":"993c332b.98c32","name":"Return Status","func":"msg.payload = (\"GPIO4 Set to LOW\");\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":620,"wires":[["cfe90697.bda848","434d3e26.735f2"]]}]
